
#title {
    text-align: center;
}

#submitForm {
    width: 20%;
    height:5%;
}

#inputForm {
    text-align: center;
}

#htmlinput {
    width: 100%;
}

#outputlbl {
    text-align: center;
}

#htmlOutput {
    border: 1px solid black;
    width: 100%;
}
